<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Template is working!!!</title>
</head>
<body>
Wow!wonder......
<h1>Enter your Text below.</h1>
<form action='/analyze',method='get'>
    <textarea name='text', style='margin: 2px; width: 1214px; height: 157px;'></textarea> <br>
    <input type="checkbox" name="removepunc">Remove Punctuations<br>
    <input type="checkbox" name="extraspaceremover">Remove Extra Space<br>
    <input type="checkbox" name="capitalizefirst">Capiltalize first<br>
    <button type='submit'>Analyze Text</button>
</form>
</body>
</html>